<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite_all" parallel="false" thread-count="2">


        <!--  <listeners>
         <listener class-name="org.imaginea.jenkins.plugins.testinprogress.testng.TestNGProgressRunListener" />
  </listeners>
         -->

        <test name="integration 1" junit="false">
                <classes>
                        <class name="com.enigmabridge.tests.EBEnigmaProviderIT" />
                </classes>
        </test>

</suite>
